/* Set up the content area grid */

.content {
  display: grid;
  grid-template-rows: 55px 900px auto auto 270px;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "intro"
    "about"
    "experiences"
    "footer";
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

/* Reset default html margins and paddings */

html, body { 
  margin: 0; 
  padding: 0;
}

html { 
  scroll-behavior: smooth;
}

/* Style the text selection color */
 
::selection {
    background: rgba(255, 192, 115, 0.815);
    color: rgb(80, 80, 80); 
}

::-moz-selection { 
    background: rgba(255, 191, 115, 0.815);
    color: rgb(80, 80, 80);
}

/* Style different headings and paragraph text */

h1 { 
  font-family: 'Poppins';
  font-size: 90px; 
  font-style: bold;
  font-weight: 700; 
  line-height: 90px; 
} 

h2 {
  font-family: 'Poppins'; 
  font-size: 24px;  
  font-variant: normal;  
  font-weight: 400;
  line-height: 23px; 
}

h3 { 
  cursor: pointer;
  font-family: 'Montserrat'; 
  font-size: 24px; 
  font-style: normal; 
  font-variant: small-caps; 
  font-weight: 400;  
  margin: 0px;
}

p {
  font-family: 'Montserrat'; 
  font-size: 15px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
}

button {
  background: #413F55;
  border: 0;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  font-family: 'Montserrat'; 
  font-size: 1rem; 
  font-style: bold; 
  font-variant: normal; 
  font-weight: 400; 
  padding: 0.45rem 0.45rem;
}

@media screen and (max-width: 950px) {
  h1 {
    font-family: 'Poppins';
    font-size: 60px; 
    font-style: bold;
    font-weight: 700; 
    line-height: 60px; 
  }
}

/* Style the header section */

.header { 
  background-color: rgb(123, 129, 185);
  box-shadow: 0px 5px 39px 2px rgba(69,69,69,0.71);
  -moz-box-shadow: 0px 5px 39px 2px rgba(69,69,69,0.71);
  -webkit-box-shadow: 0px 5px 39px 2px rgba(69,69,69,0.71);
  color: white;
  grid-area: header;
  overflow: hidden;
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 99;
}

.header p {
  float: left;
  font-family: 'Poppins'; 
  font-size: 24px;  
  font-style: bold;
  font-weight: 700; 
  margin: 20px 150px 0;
}

nav {
  float: right;
  margin: 20px 150px 0;
  text-align: center;
}

/* Style the links inside the navigation bar */

nav a {
  color: white; 
  float: left; 
  font-family: "Poppins"; 
  font-size: 17px;
  font-weight: 300; 
  padding: 0 20px 20px;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
    color: rgb(255, 221, 219);
}

/* Style the introduction section */

.intro { 
  background: url(/images/tybee.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  color: white;
  grid-area: intro; 
  padding: 200px 150px 0 150px;
  text-align: left;
}
.intro h2 {
  font-style: italic;
}
.intro h3 {
  font-size: 30px;
}
.intro h3:hover {
  color: rgb(255, 221, 219);
}

/* Style the about section */

.about {
  background-color: #D5CDCB;
  color: hsl(240, 3%, 14%);
  grid-area: about;
  padding: 30px 150px 50px;
  vertical-align: middle;
}

.about img {
  float: left;
  height: 400px;
  margin-right: 50px;
  width: 300px;
}

/* Style the experiences section */

.experiences {
  background-color: rgb(245, 245, 245);
  color: hsl(240, 3%, 14%);
  grid-area: experiences;
  padding: 30px 150px 50px;
}

.experiences a {
  color: #413F55;
  cursor: pointer;
  font-family: 'Montserrat'; 
  font-size: 24px; 
  font-style: normal; 
  font-variant: small-caps; 
  font-weight: 400;  
  margin: 0px;
  text-decoration: none;
}

.experiences img {
  border-radius: 40px;
  float: left;
  height: 200px;
  margin: 20px 50px;
  object-fit: cover;
  overflow: hidden;
  width: 300px;
}

/* Style the footer/contact section */

.footer {
  background-color: rgb(123, 129, 185);
  box-shadow: 0px 5px 39px 2px rgba(69,69,69,0.71);
  -moz-box-shadow: 0px 5px 39px 2px rgba(69,69,69,0.71);
  -webkit-box-shadow: 0px 5px 39px 2px rgba(69,69,69,0.71);
  color: white;
  grid-area: footer;
  padding: 15px 150px 0;
}

.footer a {
  color: white;
  font-family: 'Poppins';
  font-size: 17px;
  font-style: italic;
  font-weight: 300;
  text-decoration: none;
}

.footer a:hover {
  color: rgb(255, 221, 219);
}

.footer .social a {
  color: white;
  font-size: 25px; 
  font-style: normal;
  padding: 3px 3px 15px;
  text-align: center;
  text-decoration: none;
}

/* Style the social media icons */

.icon {
  width: 40px;
}

.icon:hover {
  opacity: 0.7;
}

/* Set up the content area grid for the gallery page */

.gallery-content {
  display: grid;
  grid-template-rows: 55px auto 270px;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "gallery-area"
    "footer";
}

/* Style the gallery page */

.gallery-area {
  background-color: rgb(245, 245, 245);
  color: hsl(240, 3%, 14%);
  grid-area: gallery-area;
  padding: 20px 150px 30px;
}

.gallery-area #pagename {
  font-family: 'Poppins';
  font-size: 50px; 
  font-style: bold;
  font-weight: 700; 
  padding: 30px 0;
}

@media screen and (max-width: 1200px) {
  .gallery-area {
      padding: 20px 50px 30px;
  }
  .gallery-area #pagename {
    font-family: 'Poppins';
    font-size: 30px; 
    font-style: bold;
    font-weight: 700; 
    padding: 5px 0;
  }
}

/* Set up the image grid in the gallery page */
.image-container {
  background-color: rgb(245, 245, 245);
  display: grid;
  grid-auto-flow: dense;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.image-container img {
  height: 100%;
  object-fit: cover;
  width: 100%; 
}

.image-container button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  display: flex;
  object-fit: cover;
  outline: none;
  overflow: hidden;   
}

/* Styling and settings for image caption display */
.image-container .image {
  cursor: pointer;
  position: relative; 
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

/* Styling image caption appearance */
.caption {
  background-color: rgba(32, 32, 32, 0.616);
  border-radius: 6px;
  bottom: 2%;
  color: white;
  font-family: 'Montserrat';
  left: 2%;
  opacity: 0;
  padding: 8px 8px;
  position: absolute;
  right: 2%;
  text-align: center;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  z-index: 1;
}

.caption.show-caption {
  opacity: 1;
}
