/* Set up the content area grid */

.content {
  display: grid;
  grid-template-rows: 55px 900px auto auto auto 240px;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "intro"
    "about"
    "experiences"
    "comments"
    "footer";
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

/* Reset default html margins and paddings */

html, body { 
  margin: 0; 
  padding: 0;
}

html { 
  scroll-behavior: smooth;
}

/* Style the text selection color */
 
::selection {
    background: rgba(255, 192, 115, 0.815);
    color: rgb(80, 80, 80); 
}

::-moz-selection { 
    background: rgba(255, 191, 115, 0.815);
    color: rgb(80, 80, 80);
}

/* Style different headings and paragraph text */

h1 { 
  font-family: 'Poppins';
  font-size: 90px; 
  font-style: bold;
  font-weight: 700; 
  line-height: 90px; 
} 

h2 {
  font-family: 'Poppins'; 
  font-size: 24px;  
  font-variant: normal;  
  font-weight: 400;
  line-height: 24px; 
}

h3 { 
  cursor: pointer;
  font-family: 'Montserrat'; 
  font-size: 24px; 
  font-style: normal; 
  font-variant: small-caps; 
  font-weight: 400;  
  margin: 0px;
}

p {
  font-family: 'Montserrat'; 
  font-size: 15px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
}

button {
  background: #413F55;
  border: 0;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  font-family: 'Montserrat'; 
  font-size: 1rem; 
  font-style: bold; 
  font-variant: normal; 
  font-weight: 400; 
  padding: 0.45rem 0.45rem;
}

/* Style the header section */

.header { 
  background-color: rgb(123, 129, 185);
  box-shadow: 0px 5px 39px 2px rgba(69,69,69,0.71);
  -moz-box-shadow: 0px 5px 39px 2px rgba(69,69,69,0.71);
  -webkit-box-shadow: 0px 5px 39px 2px rgba(69,69,69,0.71);
  color: white;
  grid-area: header;
  overflow: hidden;
  position: fixed; 
  top: 0; 
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  width: 100%; 
  z-index: 99;
}

.header.transparent {
  background: url(/images/tybee.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-color: Transparent;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.header p {
  float: left;
  font-family: 'Poppins'; 
  font-size: 24px;  
  font-style: bold;
  font-weight: 700; 
  margin: 20px 10px 0 150px;
}

nav {
  float: right;
  margin: 20px 150px 0 10px;
  text-align: center;
}

/* Style the links inside the navigation bar */

nav a {
  color: white; 
  float: left; 
  font-family: "Poppins"; 
  font-size: 17px;
  font-weight: 300; 
  padding: 0 20px 20px;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
    color: rgb(255, 221, 219);
}

@media screen and (max-width: 1000px) {
  nav {
    float: none;
    margin: 20px 50px 0 50px;
  }

  nav a {
    font-size: 12px;
    font-weight: 300; 
    padding: 0 12px 20px;
    text-align: center;
  }
}

/* Style the introduction section */

.intro { 
  background: url(/images/tybee.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  color: white;
  grid-area: intro; 
  padding: 200px 150px 0 150px;
  text-align: left;
  top: 0;
}

.intro h2 {
  font-style: italic;
}

.intro h3 {
  font-size: 30px;
}

.intro h3:hover {
  color: rgb(255, 221, 219);
}

@media screen and (max-width: 950px) {
  .intro h1 {
    font-family: 'Poppins';
    font-size: 60px; 
    font-style: bold;
    font-weight: 700; 
    line-height: 60px; 
  }
}

/* Style the about section */

.about {
  background-color: #D5CDCB;
  color: hsl(240, 3%, 14%);
  grid-area: about;
  padding: 30px 150px 50px;
  vertical-align: middle;
}

.about h2 {
  margin-top: -200px;
  padding: 230px 0 15px;
}

.about img {
  float: left;
  height: 400px;
  margin-right: 50px;
  width: 300px;
}

/* Style the experiences section */

.experiences {
  background-color: rgb(245, 245, 245);
  color: hsl(240, 3%, 14%);
  grid-area: experiences;
  padding: 30px 150px 50px;
}

.experiences h2 {
  margin-top: -200px;
  padding-top: 230px;
}

.experiences a {
  color: #413F55;
  cursor: pointer;
  font-family: 'Montserrat'; 
  font-size: 24px; 
  font-style: normal; 
  font-variant: small-caps; 
  font-weight: 400;  
  margin: 30px 0;
  text-decoration: none;
}

.experiences img {
  border-radius: 40px;
  float: left;
  height: 200px;
  margin: 20px 20px 20px 20px;
  object-fit: cover;
  overflow: hidden;
  width: 300px;
}

.experiences p {
  margin-bottom: 50px;
}

.clearfix {
  clear:both;
}

@media screen and (min-width: 1200px) {
  padding: 30px 300px 50px 250px;
}

@media screen and (max-width: 1000px) {
  .experiences img {
    float: none;
  }

  .experiences a {
    text-align: center;
  }

  .experiences p {
    text-align: center;
  }
}

/* Style the comments section */
.comments {
  background-color: rgb(250, 250, 250);
  color: hsl(240, 3%, 14%);
  grid-area: comments;
  padding: 30px 150px 50px;
}

.comments h2 {
  margin-top: -200px;
  padding-top: 230px;
}

.comments form {
  background-color: rgb(245, 245, 245);
  border: 1px solid #CCC;
  border-radius: 1em;
  margin: 0 150;
  padding: 1em;
  width: 500px;
}

.comments ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comments form li + li {
  margin-top: 1em;
}

.comments label {
  display: inline-block;
  font-family: Montserrat;
  margin: 0 0.75em 0 0.25em;
  text-align: right;
  width: 90px;
}

.comments input, 
textarea {
  border: 2px solid #dadada;
  border-radius: 7px;
  box-sizing: border-box;
  font: 1em sans-serif;
  width: 350px;
}

.comments input:focus, 
textarea:focus {
  border-color: hsl(240, 3%, 14%);
}

.comments textarea {
  height: 5em;
  vertical-align: top;
}

.comments .button {
  padding-left: 90px;
}

.comments button {
  margin: 10px 0 10px .75em;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg'),
  linear-gradient(to bottom, #ffffff 0%,#ffffff 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  border: 2px solid #dadada;
  border-radius: 0.5em;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  box-sizing: border-box;
  color: #444;
  display: inline-block;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
  max-width: 100%;
  padding: .6em 1.4em .5em .8em;
  width: auto;
}

select::-ms-expand {
	display: none;
}

select:hover,
select:focus {
  border-color: #888;
  color: #222;
  outline: none;
}

.comments #comments-container div {
  border-color: #CCC;
  border-style: solid;
  border-width: 0 0 1px;
  margin: 1em 0;
  padding: 0 0 1em 0;
}

.comments #comments-container h3 {
  cursor: auto;
  font-size: 28px; 
  margin: 0;
  padding: 0 0 0 20px;
}

.comments #comments-container h4 {
  font-family: Poppins;
  font-weight: normal;
  margin: 0;
  padding: 0 0 0 20px;
}

.comments #comments-container p {
  margin: 0;
  padding: 15px 35px 0;
}

.comments #comments-container button {
  background: rgb(196, 183, 180);
  font-size: 14px;
  font-weight: 700;
  margin: 15px 35px;
}

.comments .page-button {
  cursor: pointer;
  background: rgb(196, 183, 180);
  float: right;
  font-size: 16px;
  font-weight: 700;
  margin: 15px 5px;
}

.page-button:disabled {
  background-color: #CCC;
}

.comments #button-container {
  display: flex;
  justify-content: space-between;
}

/* Style the footer/contact section */

.footer {
  background-color: rgb(123, 129, 185);
  box-shadow: 0px 5px 39px 2px rgba(69,69,69,0.71);
  -moz-box-shadow: 0px 5px 39px 2px rgba(69,69,69,0.71);
  -webkit-box-shadow: 0px 5px 39px 2px rgba(69,69,69,0.71);
  color: white;
  grid-area: footer;
  padding: 15px 150px 0;
}

.footer a {
  color: white;
  font-family: 'Poppins';
  font-size: 17px;
  font-style: italic;
  font-weight: 300;
  text-decoration: none;
}

.footer a:hover {
  color: rgb(255, 221, 219);
}

.footer #back {
  text-align: right, bottom;
}

.footer .social a {
  color: white;
  font-size: 25px; 
  font-style: normal;
  padding: 3px 3px 15px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 15px 50px 0;
  }
}

/* Style the social media icons */

.icon {
  width: 40px;
}

.icon:hover {
  opacity: 0.7;
}

.icon {
    padding: 10px 5px;
}

/* Set up the content area grid for the gallery page */

.gallery-content {
  display: grid;
  grid-template-rows: 55px auto auto auto 240px;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "gallery-area"
    "map"
    "comments"
    "footer";
}

/* Style the gallery page */

.gallery-area {
  background-color: rgb(245, 245, 245);
  color: hsl(240, 3%, 14%);
  grid-area: gallery-area;
  padding: 20px 150px 20px;
}

.gallery-area #pagename {
  font-family: 'Poppins';
  font-size: 40px;
  font-weight: 700; 
  line-height: 40px;
  margin: 0;
  padding: 30px 0;
}

@media screen and (max-width: 1000px) {
  .gallery-area {
    padding: 50px 50px 20px;
  }
  .gallery-area #pagename {
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
  }
}

/* Set up the image grid in the gallery page */
.image-container {
  background-color: rgb(245, 245, 245);
  display: grid;
  grid-auto-flow: dense;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.image-container img {
  height: 100%;
  object-fit: cover;
  width: 100%; 
}

.image-container button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  display: flex;
  object-fit: cover;
  outline: none;
  overflow: hidden;   
}

/* Styling and settings for image caption display */
.image-container .image {
  cursor: pointer;
  position: relative; 
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

/* Styling image caption appearance */
.caption {
  background-color: rgba(32, 32, 32, 0.616);
  border-radius: 6px;
  bottom: 2%;
  color: white;
  font-family: 'Montserrat';
  left: 2%;
  opacity: 0;
  padding: 8px 8px;
  position: absolute;
  right: 2%;
  text-align: center;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  z-index: 1;
}

.caption.show-caption {
  opacity: 1;
}

/* Style the map section on the gallery page */
.map {
  background-color: rgb(245, 245, 245);
  grid-area: map;
  padding: 20px 150px 20px;
}

.map #map {
  height: 500px;
  width: 500px; 
}